!include ~/.config/dotfiles/private/mysql/my.cnf

# [client]
# user = root
# password = SecretPasswordButMehForLocalDevelopment
# host = localhost
#
# [mysql]
# database = mysql
# auto-rehash=true
# pager = less -S
# # prompt="\\R:\\m:\\s[\d] mysql> "
# safe-updates
